<%= @game.current_turn.name %> attacked <%= (@game.opponent_of(@game.current_turn)).name %>!
<br><br>
It's super effective!
<br><br>
<%= (@game.opponent_of(@game.current_turn)).name %> has <%= (@game.opponent_of(@game.current_turn)).hit_points %>HP left
<form action='/play'>
  <input type='submit' value='OK'>
</form>
